.about {
  background: $dark-blue-grey url("../img/about-mobile@1x.png") no-repeat 20px 40px;

  @include borderBottomRadius(30px);
  position: relative;
  z-index: 7;

  @media (min-width: $tablet-width) {
    @include borderBottomRadius(60px);
    background: $dark-blue-grey url("../img/about-tablet@1x.png") no-repeat 384px 144px;
  }
}

.about__content {
  @include extra-container();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.about__title {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.about__text {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.about__text-bold {
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 21px;
    line-height: 1.19;
    margin-bottom: 50px;
  }
}

.about__button {
  display: none;

  @media (min-width: $tablet-width) {
    width: 274px;
    display: block;
    padding: 32px 12px 26px 34px;
  }
}

.about__wrapper {
  @media (min-width: $tablet-width) {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 8px;
  }
}

.about__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
