.add-country {
  padding-right: 0;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    padding-right: 172px;
  }
}

.add-country__button {
  width: 100%;
  height: 42px;
  border: none;
  padding: 15px 10px 10px 12px;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: $dark-slate-blue;
  background-color: $pale-grey;
  border-radius: 4px;
  font-weight: 500;
  text-align: left;
  position: relative;
}

.add-country__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 14px;
  height: 14px;
  transform: translate(0, -50%);
  background-image: url("../img/qty-plus-mobile.svg");
  z-index: 2;
  opacity: 0.3;
}

.add-country__button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 45px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $cloudy-blue;
  transform: translate(-50%, -50%);
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 15px;
    height: 15px;
    right: -41px;
  }
}
