.add-plan {
  padding: 30px 0 35px;
  border-radius: 30px 30px 0 0;
  background-color: $light-blue-grey-five;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 60px 60px 0 0;
    padding-top: 56px;
    padding-bottom: 63px;
  }
}

.add-plan::before {
  @include borderRadiusBottomBg(60px, $light-blue-grey-five);
}

.add-plan__content {
  @include container();

  @media (min-width: $tablet-width) {
    @include extra-container();
  }

  @media (min-width: $desktop-width) {
    @include container();
  }
}

.add-plan__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.add-plan__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding-left: 70px;
  }
}

.add-plan__form {
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
  }
}
