.add-plan {
  padding: 30px 0 35px;
  border-radius: 30px 30px 0 0;
  background-color: $light-blue-grey-five;
  position: relative;

  @media (min-width: $desktop-width) {
    border-radius: 60px 60px 0 0;
  }
}

.add-plan::before {
  @include borderRadiusBottomBg(60px, $light-blue-grey-five);
}

.add-plan__content {
  @include container();
}

.add-plan__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: $dark-slate-blue;
}

.add-plan__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-plan__form {
  margin-top: 29px;
}
