.address {
  background-color: $light-gold;
  position: relative;

  @include borderBottomRadius(30px);
}

.address::before {
  @include borderRadiusTopBg(30px, $light-gold);
}

.address__text {
  display: flex;
  align-items: center;
}

.address__icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 13px;
  background-color: $dark-blue-grey-two;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address__svg {
  width: 22px;
  height: 22px;
  fill: $light-gold;
}

.address__button {
  margin-top: 30px;
}

.address-map {
  width: 100%;
  height: 277px;
  position: relative;
}

.address-map__iframe {
  position: absolute;
  top: -30px;
  z-index: -1;
  width: 100%;
  height: 360px;
}

.address__info {
  padding: 0;
  margin: 0;
  padding-top: 2px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.38;
}