.all-travelers {
  background-color: $pale-grey;
  padding-bottom: 31px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 77px;
  }
}

.all-travelers::before {
  @include borderRadiusBottomBg(30px, $pale-grey);
}

.all-travelers__pagination {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
  }
}

.all-travelers__show-more {
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
  }
}
