.alphabet {
  margin: 0 auto;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.alphabet__main {
  width: 100%;
}

.alphabet__button {
  font-family: inherit;
  font-size: 14px;
  border: 1px solid $bluey-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 42px;
  background-color: $white;
  text-transform: uppercase;
  margin: -2px -2px -1px -1px;
  z-index: 1;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    color: $dark-blue-grey-30;
    padding: 0;
    font-weight: bold;
    font-size: 60px;
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    margin: 0;
  }
}

.alphabet__item {
  padding: 1px;

  @media (min-width: $tablet-width) {
    vertical-align: top;
    padding: 10px 22px 4px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
  }
}


.alphabet__button:hover {
  border: 1px solid $dark-slate-blue;
  z-index: 2;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.alphabet__button--active {
  background-color: $dark-slate-blue;
  border: 1px solid $dark-slate-blue;
  color: $white;
  z-index: 2;

  @media (min-width: $tablet-width) {
    border: none;
    background-color: transparent;
    color: $dark-slate-blue;
  }
}


.alphabet__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
