.arrow-button {
  width: 100%;
  font-family: inherit;
  background-color: $light-gold;
  border-radius: 10px;
  border: none;
  padding: 24px 24px 20px;
  min-width: 270px;
  font-size: 18px;
  color: $dark-slate-blue;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-align: left;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    border-radius: 20px;
    padding: 29px 33px 26px;
  }

  @media (min-width: $desktop-width) {
    min-width: 274px;
    font-size: 24px;
    border-radius: 20px;
    padding: 29px 34px 26px;
  }
}

.arrow-button:hover {
  cursor: pointer;
  background-color: $mango-two;
}

.arrow-button:active {
  color: $dark-slate-blue-30;
}


.arrow-button::after {
  width: 10px;
  height: 14px;
  position: absolute;
  content: "";
  top: 50%;
  right: 13px;
  transform: translate(0, -50%);
  border: 8px solid transparent;
  border-left: 11px solid $dark-blue-grey;

  @media (min-width: $tablet-width) {
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 26px;
  }
}

.arrow-button:active::after {
  opacity: 0.3;
}

.arrow-button--bordered {
  border: 3px solid $dark-blue-grey;
  padding: 22px 21px 17px 21px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    border-radius: 20px;
    padding: 27px 33px 24px;
  }
}

.arrow-button--bordered:hover {
  background-color: $dark-blue-grey;
  color: $white;
  cursor: pointer;
}

.arrow-button--bordered:active {
  color: $white-30;
}

.arrow-button--bordered:hover::after {
  border-left: 9px solid $white;
  opacity: 1;
}

.arrow-button--bordered:active::after {
  border-left: 9px solid $white;
  opacity: 0.3;
}
