.button {
  width: 190px;
  font-family: inherit;
  background-color: $light-gold;
  color: $dark-two;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
}

.button--gray {
  background-color: $button-gray-color;
}

.button--white {
  background-color: $white;
}

.button--nobg {
  background-color: transparent;
}
