.choose-country {
  display: flex;
  position: relative;
  border: 1px solid $cloudy-blue;
  border-radius: 4px;
  flex: 1;
  position: relative;
}

.choose-country::after {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 51px;
  width: 5px;
  height: 10px;
  background-image: url('../img/small-arrow.svg');
  opacity: 0.3;
}

.choose-country__button {
  width: 100%;
  border: none;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background-color: transparent;
  color: $dark-slate-blue;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  overflow-x: hidden;
}

.choose-country__close {
  position: absolute;
  top: -10px;
  right: -10px;
}

.choose-country__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 12px;
  height: 7px;
  transform: translate(0, -50%);
  background-image: url('../img/dropdown-form.svg');
  background-size: 12px 7px, 100% 100%;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0.3;
}


.choose-country__button::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 44px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $cloudy-blue;
  transform: translate(-50%, -50%);
  z-index: 2;
}
