.connected-textareas__item {
  display: block;
  position: relative;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-right: 32px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 80px;
  }
}

.connected-textareas__item:last-child {
  margin-bottom: 0;
}

.connected-textareas__item--start::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -13px;
  width: 2px;
  height: 100%;
  background-color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    width: 3px;
    left: auto;
    right: 3px;
    top: 62px;
  }

  @media (min-width: $desktop-width) {
    right: 172px;
  }
}


.connected-textareas__item--end::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -13px;
  width: 2px;
  height: 23px;
  background-color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    right: 172px;
  }
}
