.continents-list {
  list-style: none;

  @media (min-width: $desktop-width) {
    margin-left: 33px;
    margin-right: auto;
  }
}

.continents-list__item {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 15px;
  }
}

.continents-list__button {
  background-color: transparent;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: $dark-blue-grey-30;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.continents-list__button--active {
  color: $dark-blue-grey;
}

.continents-list__button:hover {
  cursor: pointer;
  color: $dark-blue-grey-60;
}

.continents-list__button:active {
  color: $dark-blue-grey;
}
