.copyright {
  border-top: 1px solid $pale-grey;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.copyright__text {
  color: $greyish-brown;
}


.copyright__link {
  padding-top: 5px;
}