.days-table {
  width: 100%;
  border-collapse: collapse;
}


.days-table__body {
  width: 100%;
}

.days-table__row {
  width: 100%;
}

.days-table__day {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 12px;
  width: 12.5%;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 4px;
    padding-bottom: 8px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 16px;
    padding-bottom: 20px;
  }
}

.days-table__day--weekend {
  color: $orange-red;
}

.days-table__num {
  width: 12.5%;
  border: 1px solid $pale-grey-two;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 69px;
  }

  @media (min-width: $desktop-width) {
    height: 70px;
  }
}

.days-table__button {
  border: none;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
  font-size: 14px;
  color: $pale-grey-two;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: $white;
  z-index: 1;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    justify-content: flex-start;
    height: 70px;
    padding-left: 15px;
    padding-bottom: 25px;
  }
}

.days-table__button:hover {
  border: 1px solid $dark-slate-blue;
  z-index: 2;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.days-table__button--available {
  background-color: $pale-grey;
  color: $greyish-brown;
}

.days-table__button--selected {
  background-color: $dark-slate-blue;
  color: $white;
}

.days-table__button--active {
  position: relative;
}

.days-table__button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid $orange-red;
  border-radius: 2px;
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);

  @media (min-width: $tablet-width) {
    border-width: 4px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 0;
  }
}


.days-table__button--active {
  background-color: $dark-blue-grey-three;
}

.days-table .days-table__day-letter {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.days-table__month {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    padding-left: 8px;
  }
}

.days-table__info {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 15px;
    letter-spacing: 2px;
  }
}

.days-table__button:disabled:hover {
  cursor: default;
  border: none;
}

.days-table__button:disabled:hover::before {
  display: none;
}
