.days-table {
  width: 100%;
  border-collapse: collapse;
}


.days-table__body {
  width: 100%;
}

.days-table__row {
  width: 100%;
}

.days-table__day {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 12px;
  width: 12.5%;
}

.days-table__day--weekend {
  color: $orange-red;
}

.days-table__num {
  width: 12.5%;
  border: 1px solid $pale-grey-two;
  padding: 0;
}

.days-table__button {
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  color: $pale-grey-two;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: $white;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 70px;
    font-size: 20px;
  }
}


.days-table__button:hover {
  border: 1px solid $dark-slate-blue;
  z-index: 2;
}

.days-table__button--available {
  background-color: $pale-grey;
  color: $greyish-brown;
}

.days-table__button--selected {
  background-color: $dark-slate-blue;
  color: $white;
}

.days-table__button--active {
  position: relative;
}


.days-table__button--active::before {
  content: "";
  border: 2px solid $orange-red;
  border-radius: 2px;
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);

  @media (min-width: $tablet-width) {
    border-width: 4px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }
}
