.directions {
  background-color: $pale-grey;

  @include borderBottomRadius(30px);
  position: relative;
  z-index: 6;

  @media (min-width: $tablet-width) {
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: 289px 575px;
    background-position: 439px 80px;

    @include borderBottomRadius(60px);

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-position: 1091px 88px;
  }

}

.directions::before {
  @include borderRadiusTopBg(30px, $pale-grey);

  @media (min-width: $tablet-width) {
    @include borderRadiusTopBg(60px, $pale-grey);
  }
}

.directions__content {
  display: flex;
  flex-direction: column;
  position: relative;

  @include container();

  @media (min-width: $tablet-width) {
    @include extra-container();
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.directions__content::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 40px;
    top: 334px;
    width: 141px;
    height: 141px;
    z-index: -1;
    background-color: $pale-grey-four;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    top: -72px;
    left: 60px;
  }
}

.directions__button {
  margin-top: 25px;
  order: 2;
  position: absolute;
  width: calc(100% - 50px);
  bottom: -87px;
  left: 25px;
  right: 25px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 150px);
    bottom: -126px;
    left: 75px;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    margin-top: 97px;
    margin-left: 2px;
    width: auto;
  }
}

.directions__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.directions__text {
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 270px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 105px;
  }
}

.directions__wrapper {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-top: 5px;
    padding-left: 141px;
  }
}

.directions-cards {
  padding-top: 18px;
  position: relative;

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-right: 30px;
    width: 50%;
  }
}

.directions-cards::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 0;
  background-image: linear-gradient(to top, $pale-grey, transparent);
  z-index: 5;

  @media (min-width: $desktop-width) {
    bottom: 96px;
  }
}
