.form-fieldset {
  padding: 12px 0 9px 0;
  margin: 0;
  border: none;
  border-top: 1px solid $macaroni-and-cheese;

  @media (min-width: $tablet-width) {
    padding: 18px 0 11px 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 0 6px 0;
    margin: 0;
  }
}

.form-fieldset--rounds {
  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}

.form-fieldset--range {
  @media (min-width: $tablet-width) {
    padding-top: 1px;
  }
}

.form-fieldset__inner {
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
  }
}

.desktop-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form-fieldset__name {
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    letter-spacing: -0.4px;
    font-size: 20px;
    display: flex;
    width: 20%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form-fieldset__toggle {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-slate-blue;
  padding: 0;
  text-align: left;
  cursor: pointer;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: -0.7px;
    font-size: 20px;
    display: block;
  }
}

.form-fieldset__toggle:hover {
  opacity: 0.6;
}

.form-fieldset__toggle:active {
  opacity: 0.3;
}

.form-fieldset__toggle::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  top: 50%;
  right: 0;
  background-image: url("../img/dropdown.svg");
  transform: translate(0, -50%);

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 10px;
    height: 5px;
    right: -1px;
    top: 8px;
  }
}

.form-fieldset__toggle--close::after {
  transform: rotate(180deg);
}

.form-fieldset__option {
  padding: 0 25px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 0;
    margin: 0;
    width: 33%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 25px;
    width: 100%;
    margin-bottom: 21px;
  }
}

.form-fieldset__option:last-child {
  margin-bottom: 0;
}

.form-fieldset__list {
  padding: 0;
  margin: 0;
  margin-top: 6px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    display: flex;
    width: 80%;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 100%;
    padding: 26px 10px 12px 10px;
  }
}

.form-fieldset__transport {
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: -3px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    margin-bottom: 26px;
  }
}

.form-fieldset__list .form-fieldset__option:last-child {
  @media (min-width: $tablet-width) {
    padding-left: 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 25px;
  }
}

.form-fieldset__list .form-fieldset__option:nth-child(3n + 2) {
  @media (min-width: $tablet-width) {
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 25px;
  }
}
