.header-contacts {
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header-contacts__item {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
}

.header-contacts__icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: $dark-blue-grey-two;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 67px;
    height: 67px;
    margin-right: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
    margin: 0;
  }
}

.header-contacts__icon:active .header-contacts__svg {
  @media (min-width: $desktop-width) {
    opacity: 0.3;
  }
}

.header-contacts__icon--mango {
  @media (min-width: $desktop-width) {
    background-color: $mango;
  }
}

.header-contacts__icon--mango:hover {
  @media (min-width: $desktop-width) {
    background-color: $dusty-orange;
  }
}

.header-contacts__icon--mangotwo {
  @media (min-width: $desktop-width) {
    background-color: $mango-two;
  }
}

.header-contacts__icon--mangotwo:hover {
  @media (min-width: $desktop-width) {
    background-color: $mango;
  }
}

.header-contacts__svg {
  width: 18px;
  height: 100%;
  fill: $light-gold;

  @media (min-width: $tablet-width) {
    width: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 18px;
    fill: $dark-blue-grey-two;
  }
}

.header-contacts__link-text {
  margin-top: 5px;
  color: $dark-blue-grey;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
