.main-nav {
  padding: 72px 25px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% + 50px);
  margin: 0 -25px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    position: static;
    width: auto;
    flex-direction: row;
    align-items: center;
  }
}

.main-nav--closed {
  padding: 0;
}

.main-nav--opened {
  background-color: $white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 28px;
  position: absolute;
  left: 0;
  top: 48px;
  z-index: 999;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 110px;
    padding-left: 97px;
    padding-bottom: 75px;
    margin: 0;
    width: calc(100% + 50px);
    top: 100px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    flex-grow: 1;
    position: static;
    width: auto;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}

.main-nav--opened .main-nav__link {
  @media (min-width: $tablet-width) {
    right: 90px;
    top: -60px;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav--closed .main-nav__link {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    top: -47px;
  }
}

.main-nav--closed .main-nav__contacts {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav--closed .main-nav__social {
  display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 46px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    order: 2;
    width: auto;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    order: 1;
    width: auto;
    margin: 0;
    margin-right: auto;
    padding: 0;
    padding-left: 146px;
    padding-top: 8px;
  }
}

.main-nav__list::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 20px;
    left: 40px;
    width: 60px;
    height: 2px;
    background-color: $white;
  }
}

.main-nav__social {
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 100%;
  order: 4;

  @media (min-width: $tablet-width) {
    order: 4;
    width: auto;
    margin-top: 74px;
    justify-content: flex-start;
    opacity: 0.2;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__link {
  margin-bottom: 50px;
  padding-top: 18px;
  height: 50px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    border-radius: 25px;
    line-height: 1.5;
    order: 1;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 13px 12px 7px 10px;
    width: 188px;
    position: absolute;
    top: -38px;
    right: -25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    width: 189px;
    align-items: center;
    height: 50px;
    position: static;
    order: 3;
  }
}

.main-nav__link:hover {
  background-color: $mango-two;
}

.main-nav__link:active span {
  opacity: 0.3;
}

.main-nav__contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  order: 3;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 100%;
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    order: 2;
    width: auto;
    margin: 0;
  }
}

.main-nav__contacts-link {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
