.page-banner {
  padding-top: 20px;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -73px;
  background-color: $dark-two;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.page-banner__wrapper {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.page-banner__title {
  font-size: 36px;
  color: $white;
  font-weight: bold;
  position: relative;
  text-align: center;
  line-height: 1.11;

  @media (min-width: $tablet-width) {
    padding: 0 188px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}


.page-banner__illustration {
  display: flex;
  margin: 11px 50px 0 auto;
  width: 192px;
  height: 255px;
}


.page-banner__quote {
  margin-top: -39px;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: $mobilePadding + $extraPadding;
  padding-right: $mobilePadding + $extraPadding + 50px;
  background-color: $dark-two;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-banner__nav {
  position: relative;
  z-index: 2;
}
