.page-main {
  margin: 0;
  padding: 0;
}

.page-main__about {
  padding-top: 72px;
  padding-bottom: 63px;

  @media (min-width: $tablet-width) {
    padding-top: 138px;
    padding-bottom: 88px;
  }
}

.page-main__directions {
  padding-top: 72px;
  padding-bottom: 30px;
}

.page-main__travelers {
  padding-top: 72px;
  padding-bottom: 30px;
}

.page-main__profile {
  padding-top: 52px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }
}

.page-main__email-registration {
  padding-top: 72px;
  padding-bottom: 28px;
}

.page-main__addres {
  padding-top: 32px;
  padding-bottom: 30px;
}

.page-main__user-profile {
  padding-top: 20px;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-bottom: 30px;
}

.page-main__plans {
  padding-top: 30px;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-bottom: 30px;
}

.page-main__promo {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  background-color: $dark-blue-grey;
  position: relative;
  z-index: 2;
}
