.page-header {
  background-color: $dark-two;
  position: relative;
}

.page-header__wrapper {
  @include container();
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.page-header--bradius {
  border-radius: 0 0 20px 20px;
}

.page-header__toggle {
  width: 25px;
  height: 11px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: $white;
  border-radius: 2px;
}

.page-header__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: $white;
  border-radius: 2px;
}


.page-header__title {
  margin: 30px 25px 0 25px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 36px;
  color: $white;
  font-weight: bold;
  position: relative;
  line-height: 1.11;
}

.page-header__title--bordered::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2.4px;
  background-color: $mango;
  position: absolute;
  bottom: -2.5px;
  left: 0;
  z-index: 2;
}
