.page-header {
  background-color: $dark-two;

  @media (min-width: $tablet-width) {
    background-color: $dark-blue-grey-90;
  }

  @media (min-width: $desktop-width) {
    background-color: $dark-two;
  }
}

.page-header__main {
  @include container();

  background-color: $white;
  padding-top: 25px;
  padding-bottom: 28px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    flex-wrap: nowrap;
    padding-bottom: 0;
    padding-top: 49px;
  }
}

.page-header__main--closed {
  padding-bottom: 25px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 0;
  }
}

.page-header__main--opened {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 0;
  }
}

.page-header__main--opened .page-header__logo {
  position: relative;
}

.page-header__main--opened .page-header__logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/logo-mobile-blue@1x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/logo-mobile-blue@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/logo-tablet-blue@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-tablet-blue@2x.png");
    }
  }


  @media (min-width: $desktop-width) {
    background-image: url("../img/logo-desktop-white@1x.png");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-desktop-white@2x.png");
    }
  }
}

.page-header__main--page {
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
  }
}

.page-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.page-header--bradius {
  border-radius: 0 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}


.page-header__image {
  width: 100px;
  height: 19px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.page-header__toggle {
  width: 25px;
  height: 11px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    transform: translate(50%, 0);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: $pinkish-grey;
  border-radius: 2px;
}

.page-header__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: $pinkish-grey;
  border-radius: 2px;
}

.page-header__toggle--opened::before {
  transform: rotate(-45deg);
  background-color: $pinkish-grey;
  top: 4px;
}

.page-header__toggle--opened::after {
  transform: rotate(45deg);
  background-color: $pinkish-grey;
  bottom: 4px;
}


.page-header__page-name {
  @include container();

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-left: 126px;
    padding-right: 123px;
    padding-bottom: 55px;
  }
}

.page-header__title {
  margin: 31px 25px 0 0;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 36px;
  color: $white;
  font-weight: bold;
  position: relative;
  line-height: 1.11;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-top: 18px;
  }
}

.page-header__title--bordered::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2.4px;
  background-color: $mango;
  position: absolute;
  bottom: -2.5px;
  left: 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    height: 8px;
    bottom: -58.5px;
  }
}

.page-header__go-home {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: $white;
  padding-right: 61px;
  padding-top: 13px;
}

.page-header__link-home {
  color: $white;
  position: relative;
}

.page-header__link-home::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -61px;
  width: 32px;
  height: 16px;
  background: url("../img/return.svg") no-repeat;
}
