.page-main {
  margin: 0;
  padding: 0;
}

.page-main__about {
  padding-left: $mobilePadding+$extraPadding;
  padding-right: $mobilePadding+$extraPadding;
  padding-top: 32px;
  padding-bottom: 64px;
}

.page-main__directions {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-top: 32px;
  padding-bottom: 64px;

  @media (min-width: $tablet-width) {
    padding-left: $tabletPadding;
    padding-right: $tabletPadding;
  }
}

.page-main__travelers {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-top: 72px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-left: $tabletPadding;
    padding-right: $tabletPadding;
  }
}

.page-main__profile {
  padding-top: 40px;
  padding-left: $mobilePadding+$extraPadding;
  padding-right: $mobilePadding;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }
}

.page-main__email-registration {
  padding-top: 40px;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-left: $tabletPadding;
    padding-right: $tabletPadding;
  }
}

.page-main__addres {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-left: $tabletPadding;
    padding-right: $tabletPadding;
  }
}

.page-main__user-profile {
  padding-top: 20px;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-bottom: 30px;
}

.page-main__plans {
  padding-top: 30px;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-bottom: 30px;
}

.page-main__promo {
  background-color: $dark-blue-grey;
  position: relative;
}