.page-main {
  margin: 0;
  padding: 0;
}

.page-main__about {
}

.page-main__directions {
  padding-top: 72px;
  padding-bottom: 117px;

  @media (min-width: $tablet-width) {
    padding-bottom: 206px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 161px;
    padding-bottom: 53px;
  }
}

.page-main__travelers {
  padding-top: 72px;
  padding-bottom: 102px;

  @media (min-width: $tablet-width) {
    padding-top: 141px;
    padding-bottom: 239px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 116px;
    padding-bottom: 124px;
  }
}

.page-main__profile {
  padding-top: 52px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 107px;
    padding-bottom: 184px;
  }
}

.page-main__email-registration {
  padding-top: 72px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 106px;
    padding-bottom: 102px;
  }
}

.page-main__address {
  padding-top: 32px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 85px;
  }
}

.page-main__user-profile {
  padding-top: 20px;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-bottom: 30px;
}

.page-main__plans {
  padding-top: 30px;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-bottom: 30px;
}

.page-main__promo {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  background-color: $dark-blue-grey;
  position: relative;
  z-index: 2;
}
