.pagination {
  list-style: none;
  padding: 0;
  display: flex;
}

.pagination__item {
  width: 50%;
}

.pagination-button {
  border: none;
  width: 100%;
  background-color: $white;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button--left {
  border-radius: 10px 0 0 10px;
}

.pagination-button--right {
  border-radius: 0 10px 10px 0;
}

.pagination__item:first-child {
  margin-right: 1px;
}

.pagination-button__icon {
  fill: $dark-blue-grey;
  width: 10px;
  height: 20px;
}
