.plans {
  border-radius: 20px 20px 0 0;
  background-color: $pale-grey-two;
  position: relative;

  @media (min-width: $tablet-width) {
    border-radius: 30px 30px 0 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 60px 60px 0 0;
  }
}

.plans::after {
  @include borderRadiusBottomBg(60px, $pale-grey-two);
}

.plans__content {
  @include container();
}

.plans__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: $dark-slate-blue;
  margin-bottom: 30px;
}
