.plans {
  border-radius: 20px 20px 0 0;
  background-color: $pale-grey-two;
  position: relative;
}

.plans::after {
  @include borderRadiusBottomBg(20px, $pale-grey-two);
}

.plans__content {
  @include container();
}

.plans__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: $dark-slate-blue;
  margin-bottom: 30px;
}
