.profile-list {
  padding: 0;
  list-style: none;
  counter-reset: item;
}

.profile-list__item {
  counter-increment: item;
  font-size: 16px;
  border-bottom: 1px solid $pale-grey-two;
  color: $greyish-brown;
  padding: 14px 0;
  margin-right: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    padding: 16px 10px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.profile-list__item::before {
  position: absolute;
  top: 20px;
  right: -49px;
  transform: translate(0, -50%);
  content: counter(item);
  font-size: 16px;
  color: $white;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    width: 67px;
    height: 67px;
    top: 32px;
    right: none;
    left: -80px;
  }
}

.profile-list__item--mango-three::before {
  background-color: $mango-three;
}

.profile-list__item--mango-two::before {
  background-color: $mango-two;
}

.profile-list__item--light-gold::before {
  background-color: $light-gold;
}

.profile-list__item:first-child {
  border-top: 1px solid $pale-grey-two;
}

.profile-list__price {
  margin-top: 5px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
