.profile {
  background-color: $pale-grey;
  position: relative;
  z-index: 4;

  @include borderBottomRadius(30px);

  @media (min-width: $tablet-width) {
    @include borderBottomRadius(60px);
  }
}

.profile::before {
  @include borderRadiusTopBg(30px, $pale-grey);

  @media (min-width: $tablet-width) {
    @include borderRadiusTopBg(60px, $pale-grey);
  }
}

.profile__content {
  @include extra-container();

  @media (min-width: $tablet-width) {
    @include container();
  }

  @media (min-width: $desktop-width) {
    @include extra-container();
  }
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
}

.profile__title {
  margin: 0;
  width: 101px;

  @media (min-width: $tablet-width) {
    margin-left: -5px;
    line-height: 1;
    width: 100%;
    text-align: center;
  }
}

.profile__list {
  position: relative;
  margin: 0;
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    margin-top: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 240px;
    margin-top: 133px;
  }
}

.profile__button {
  position: relative;
  margin-top: 30px;
  color: $light-navy;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
    margin-left: 88px;
    font-size: 20px;
  }
}

.profile__button-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    top: -24px;
    left: -87px;
    fill: $light-navy;
    background-color: $pale-grey-four;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    padding: 22px;
  }
}

.profile__list-wrapper {
  display: block;
  position: relative;
}

.profile__icon {
  position: absolute;
  top: -130px;
  right: -24px;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: -119px;
    right: 46px;
  }

  @media (min-width: $desktop-width) {
    top: 50%;
    right: 4px;
    bottom: auto;
    transform: translate(0, -50%);
  }
}

.profile__image {
  display: block;

  @media (min-width: $desktop-width) {
    width: 198px;
    height: 198px;
  }
}
