.profile {
  background-color: $pale-grey;
  position: relative;

  @include borderBottomRadius(30px);
}

.profile::before {
  @include borderRadiusTopBg(30px, $pale-grey);
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
}

.profile__title {
  margin-top: 15px;
  width: 101px;
}

.profile__list {
  margin: 0;
  margin-top: 25px;
}

.profile__button {
  margin-top: 30px;
  color: $dark-blue-grey;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  padding: 0;
}

.profile__icon {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 10px;
    right: 90px;
  }
}
