.promo-list {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  counter-reset: item;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.promo-list__item {
  counter-increment: item;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding: 0 25px;
  height: 80px;
  border-radius: 10px 10px 0 0;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.promo-list__item::before {
  position: absolute;
  top: 30px;
  right: 20px;
  transform: translate(0, -50%);
  content: counter(item);
  font-size: 18px;
  font-weight: bold;
  color: $white;
}

.promo-list__item--mango {
  background-color: $mango;

  @media (min-width: $tablet-width) {
    border-radius: 10px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 10px 0 0 10px;
  }
}

.promo-list__item--mango::after {
  @include promoListAfter($mango);

  @media (min-width: $tablet-width) {
    @include promoListRightRadiusAfter($mango);
  }
}

.promo-list__item--mango-three {
  background-color: $mango-three;

  @media (min-width: $tablet-width) {
    border-radius: 10px 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 10px 0 0 10px;
  }
}

.promo-list__item--mango-three::after {
  @include promoListAfter($mango-three);

  @media (min-width: $desktop-width) {
    @include promoListRightRadiusAfter($mango-three);
  }
}

.promo-list__item--mango-two {
  background-color: $mango-two;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 0 10px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 10px 0 0 10px;
  }
}

.promo-list__item--mango-two::after {
  @include promoListAfter($mango-two);

  @media (min-width: $tablet-width) {
    @include promoListRightRadiusAfter($mango-two);
  }
}

.promo-list__item--light-gold {
  background-color: $light-gold;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 10px 10px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 10px;
  }
}
