.quote {
  background-color: $dark-two;
  position: relative;
  z-index: 1;
}

.quote__text {
  font-weight: 300;
  line-height: 1.38;
  color: $white;
}

.quote__author {
  font-weight: bold;
  line-height: 1.38;
  color: $white;
  margin-top: 20px;
}
