.route-section {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $light-blue-grey-five;
    padding-top: 30px;
  }
}

.route-section::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 136px;
    width: 1px;
    height: 100%;
    background-color: $light-blue-grey-five;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    right: 225px;
  }
}

.route-section::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: -56px;
    right: 136px;
    width: 1px;
    height: 56px;
    background-image: linear-gradient(to top, transparent, $light-blue-grey-five);
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    bottom: -106px;
    height: 106px;
    right: 225px;
  }
}

.route-section__item {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }
}
