.search {
  background-color: $light-gold;
  border-radius: 20px;
  padding: 26px;
}

.search__title {
  font-size: 22px;
  color: $dark-slate-blue;
  font-weight: bold;
  width: 118px;
  margin-bottom: 20px;
}

.search__button {
  width: 100%;
}
