.site-list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  list-style: none;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.site-list__item {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    overflow: hidden;
  }
}

.site-list__link {
  font-size: 30px;
  font-weight: 500;
  color: $dark-blue-grey;
  cursor: default;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    letter-spacing: 1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    letter-spacing: 0.1px;
    margin-right: 37px;
    line-height: 1.5;
    color: $white;
    text-transform: uppercase;
  }
}

.site-list__link:hover {
  cursor: pointer;
  color: $light-gold;
}

.site-list__link:active {
  color: $light-gold-30;
}

@media (min-width: $desktop-width) {
  .site-list__link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
  }

  .site-list__link span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
  }

  .site-list__link:hover span,
  .site-list__link:focus span {
    transform: translateY(-100%);
  }
}

.site-list__link--inactive:hover,
.site-list__link--inactive:active {
  transition: none;
  transform: translateY(-10%);
  cursor: default;
  color: $dark-blue-grey;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.site-list__link--inactive span::before {
  display: none;
}

.site-list__link--inactive:hover span,
.site-list__link--inactive:focus span {
  transform: translateY(0);
}
