.socials {
  list-style: none;
  display: flex;
}

.socials__item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $light-gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
