.socials {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $light-gold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link--nobg {
  background-color: transparent;
}