.step {
  background-color: $white;
  border-radius: 10px;
  border: none;
  padding: 25px 25px 5px 25px;
  margin-bottom: 10px;
}

.step__top {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.step__top-buttons {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.step__title {
  font-size: 20px;
  font-weight: bold;
  color: $dark-slate-blue;
}

.step__description {
  color: $page-text-dark;
  line-height: 1.38;
}


.step__checkbox {
  padding: 6px 15px 6px 38px;
  margin-bottom: 15px;
}


.step__button {
  width: 100%;
}

.step__button-next {
  margin-top: 10px;
}

.step__button-send {
  margin-top: 20px;
  margin-bottom: 10px;
}

.step_calendar {
  margin-bottom: 20px;
}

.step__inputs {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.step__inputs .counter-control:last-child {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.step__inputs-checkbox {
  order: 1;

  @media (min-width: $tablet-width) {
    order: 0;
    border-bottom: 1px solid $light-blue-grey-five;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.step__buttons {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
