.text-input {
  display: flex;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }
}

.text-input__field {
  font-family: inherit;
  border-radius: 10px 0 0 10px;
  padding: 15px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  flex: 1;

  @media (min-width: $tablet-width) {
    border-radius: 20px 0 0 20px;
    font-size: 24px;
    padding: 29px 33px 24px;
  }

  @media (min-width: $desktop-width) {
    border: 4px solid transparent;
  }
}

.text-input__field:hover {
  background-color: $pale-grey;
}

.text-input__field:active {
  background-color: $dark-blue-grey;
  border-color: $white;
}

.text-input__field::placeholder {
  color: $greyish-brown-30;
}

.text-input__button {
  width: 60px;
  height: auto;
  border-radius: 10px;
  border: none;
  background-color: $light-gold;
  margin-left: -10px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 81px;
    border-radius: 0 20px 20px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 328px;
    padding: 3px 40px 0 36px;
  }
}

.text-input__button:hover {
  background-color: $mango-two;
}

.text-input__button svg {
  width: 10px;
  height: 14px;
  fill: $dark-slate-blue;
}

.text-input__button-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: $dark-slate-blue;
  }
}
