.textarea__name {
  font-size: 18px;
  font-weight: 500;
  color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    font-weight: bold;
  }
}

.textarea__title {
  padding: 0;
  margin: 0;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    letter-spacing: -0.1px;
  }
}

.textarea__main {
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 155px;
  }
}

.textarea__field {
  font-family: inherit;
  line-height: 1.38;
  color: $page-text-dark;
  width: 100%;
  height: 220px;
  border-radius: 4px;
  border: 1px solid $cloudy-blue;
  padding: 10px 15px;

  @media (min-width: $tablet-width) {
    line-height: 1.2;
    height: 142px;
    font-size: 20px;
    padding: 16px 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 15px 23px 25px;
  }
}

.textarea__field::placeholder {
  color: $greyish-brown-30;
}

.textarea__title--connected {
  padding-left: 10px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.textarea__title--connected::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -1px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    left: auto;
    top: 16px;
    right: -35px;
    width: 15px;
    height: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 103px;
  }
}

.textarea__title--connected::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -11px;
  width: 11px;
  height: 2px;
  background-color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.textarea__flag {
  width: 35px;
  height: 24px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}
