.traveler-card {
  background-color: #ffffff;
}

.traveler-card__name {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  color: $dark-slate-blue;
}
