.travelers {
  background-color: $dark-blue-grey;
  background-image:
    url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 150px 40px, -10px 310px;
  position: relative;

  @include borderBottomRadius(30px);
}

.travelers::before {
  @include borderRadiusTopBg(30px, $dark-blue-grey);
}

.travelers__content {
  @include container();

  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.travelers__cards {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}


.travelers__title {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
}

.travelers__text {
  margin-bottom: 21px;
}

.travelers__card {
  margin-bottom: 10px;
}

.travelers__button {
  order: 2;
  margin-top: 10px;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 20px;
    width: 274px;
  }
}

.travelers__wrapper {
  padding: 0 25px;
}
