.traveler-card {
  width: 100%;
  background-color: $white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 16px;
  transition: all 0.3s;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.traveler-card:first-child {
  @media (min-width: $tablet-width) {
    margin-right: 45px;
  }
}

.traveler-card__name {
  position: relative;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: $dark-slate-blue;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.traveler-card__status {
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translate(0, -50%);

  @media (min-width: $tablet-width) {
    left: 19px;
  }
}

.traveler-card__level {
  position: absolute;
  top: 17px;
  left: 17px;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 22px;
  }
}

.traveler-card__countries {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 100%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
}

.traveler-card__country {
  position: relative;
  margin-right: 19px;
}

.traveler-card__country:last-child {
  margin-right: 0;
}

.traveler-card__wrapper {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
  }
}

.traveler-card__tags {
  text-align: center;
  margin-bottom: 9px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.traveler-card__transport {
  margin-bottom: 0;
}

.traveler-card__transport li {
  @media (min-width: $tablet-width) {
    padding: 5px 0;
    width: 34px;
  }
}

.traveler-card__image {
  width: 100%;
  height: auto;
  display: block;
}


.traveler-card__name-link {
  color: $dark-slate-blue;
}

.traveler-card__name-link:hover {
  opacity: 0.7;
}

.traveler-card__name-link:active {
  opacity: 0.3;
}

.traveler-card:hover {
  box-shadow: 0 6px 21px 0 $black-08;
  transform: scale(1.02);
}
