.travelers {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  background-color: $dark-blue-grey;
  background-image:
    url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 150px 40px, -10px 220px;
  position: relative;

  @include borderBottomRadius(30px);
}

.travelers::before {
  @include borderRadiusTopBg(30px, $dark-blue-grey);
}


.travelers__title {
  padding-top: 73px;
  margin-bottom: 23px;
}

.travelers__text {
  margin-bottom: 23px;
}

.travelers__card {
  margin-bottom: 10px;
}

.travelers__button {
  margin-top: 10px;
  margin-bottom: 30px;
}
