.trip-card {
  padding: 24px 24px 22px;
  background-color: $white;
  margin-bottom: 10px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-left: 44px;
    padding-right: 39px;
    padding-bottom: 37px;
    margin-bottom: 14px;
    align-items: center;
  }
}

.trip-card__title {
  color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 33px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    flex-direction: row;
    padding: 0;
  }
}

.trip-card__info {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  letter-spacing: 1.7px;
  color: $dark-slate-blue;
  text-transform: uppercase;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-top: 3px;
    width: 100%;
  }
}

.trip-card__info-item {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    letter-spacing: 2.4px;
    margin: 0;
    margin-right: 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.trip-card__info-item:last-child {
  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 128px;
  }
}

.trip-card__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 3px 0 0 0;
  letter-spacing: 1.8px;
  font-size: 14px;
  text-transform: uppercase;
  color: $black-30;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
}

.trip-card__button:hover {
  cursor: pointer;
  color: $black-60;
}

.trip-card__button:active {
  cursor: pointer;
  color: $black-08;
}

.trip-card__counter {
  margin-right: 1px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0;
    margin-right: 4px;
    margin-top: 4px;
  }
}

.trip-card__countries {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 32px;
  }
}

.trip-card__content {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid $pale-grey-four;
    margin-top: 34px;
    padding-left: 32px;
    padding-right: 34px;
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 51%;
    margin: 0;
    padding: 0;
    padding-left: 7px;
    border: none;
  }
}
