.trip-card {
  padding: 24px 24px 22px;
  background-color: $white;
  margin-bottom: 10px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.trip-card__title {
  color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.trip-card__info {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  letter-spacing: 1.7px;
  color: $dark-slate-blue;
  text-transform: uppercase;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.trip-card__info-item {
  margin-bottom: 5px;
}

.trip-card__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 3px 0 0 0;
  letter-spacing: 1.8px;
  font-size: 14px;
  text-transform: uppercase;
  color: $black-30;
  font-family: inherit;
}

.trip-card__counter {
  margin-right: 4px;
}

.trip-card__countries {
  font-weight: bold;
}
