.user-card {
  border-radius: 20px;
  background-color: $white;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  padding-top: 16px;
  padding-bottom: 75px;
  margin-bottom: 10px;
  position: relative;

  @media (min-width: $desktop-width) {
    height: 285px;
    width: 950px;
    display: flex;
    padding: 0;
  }
}

.user-card__photo {
  display: flex;
  position: absolute;
  top: 15px;
  left: 18px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  order: 1;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    width: 190px;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 30%;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }
}

.user-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  order: 2;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 70%;
    height: 100%;
  }
}

.user-card__top {
  @media (min-width: $tablet-width) {
    order: 1;
    width: 80%;
    padding-left: 220px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    order: -1;
    padding: 0;
    width: 50%;
    height: 100%;
  }
}

.user-card__name {
  word-spacing: 100em;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  font-size: 20px;
  font-weight: bold;
  color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.user-card__like {
  display: flex;
  position: absolute;
  top: 39px;
  left: 42px;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.user-card__tags {
  margin-top: 21px;
  margin-bottom: 14px;
  padding-right: 30px;

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.user-card__like-button {
  position: relative;
  width: 31px;
  height: 31px;
  border: none;
  border-radius: 50%;
  background-color: $pale-grey;
}

.user-card__like-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 11px;
  background-image: url("../img/heart.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 13px 11px;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.user-card__like-button--active {
  background-color: $very-light-pink-two;
}

.user-card__like-button--active::before {
  background-image: url("../img/heart-active.svg");
  opacity: 1;
}

.user-card__wrapper {
  display: flex;
  position: relative;
}

.user-card__buttons {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 100%;
    height: 50%;
    order: 3;
  }
}

.user-card__distance {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 9px;
  padding: 0;
  padding-left: 79px;
}


.user-card__status {
  position: absolute;
  top: 8px;
  right: -3px;
}

.user-card__title {
  padding: 0;
  margin: 0;
  color: $greyish-brown;
  position: relative;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-card__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  height: 1px;
  width: calc(100% + 50px);
  background-color: $pale-grey;
  z-index: 1;
}

.user-card__title-text {
  position: relative;
  display: inline-block;
  background-color: $white;
  padding: 0 10px;
  margin: 0 -10px;
  z-index: 2;
}

.user-card__title-level {
  margin-right: -20px;
}

.user-card__section-wrapper {
  display: flex;
}

.user-card__section-transport {
  width: 82%;
}

.user-card__section-level {
  width: 18%;
}

.user-card__button {
  position: absolute;
  bottom: -52px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    position: static;
  }
}

.user-card__level {
  margin-top: 10px;
}

.user-card__countries {
  padding: 0;
  margin: 14px 0;
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.user-card__item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.user-card__item:last-child {
  padding-bottom: 0;
}

.user-card__flag {
  display: inline-block;
  width: 26px;
  height: 18px;
  margin-right: 15px;
  background-color: blue;
}

.user-card__countries-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 50%;
    height: 50%;
  }
}

.user-card__transport-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    order: 2;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    height: 50%;
    flex-direction: row;
    order: 1;
  }
}

.user-card__transport {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
