.user-profile__photo {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
}

.user-profile {
  background-color: $pale-grey;
  position: relative;
}


.user-profile::before {
  @include borderRadiusTopBg(30px, $pale-grey);
}

.user-profile::after {
  @include borderRadiusBottomBg(30px, $pale-grey);
}

.user-profile__button {
  width: 100%;
  margin-top: 20px;
}
