.user-nav {
  display: flex;
  list-style: none;
}

.user-nav__link {
  background-color: #ffd74b;
  font-size: 17px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-two;
  font-weight: bold;
}
