.user-profile__photo {
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
}

.user-profile {
  background-color: $pale-grey;
  position: relative;
}

.user-profile__content {
  @include container();
  position: relative;
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    @include extra-container();
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    @include container();
    padding-top: 52px;
  }
}

.user-profile::before {
  @include borderRadiusTopBg(30px, $pale-grey);

  @media (min-width: $tablet-width) {
    @include borderRadiusTopBg(60px, $pale-grey);
  }
}

.user-profile::after {
  @include borderRadiusBottomBg(30px, $pale-grey);

  @media (min-width: $tablet-width) {
    @include borderRadiusBottomBg(60px, $pale-grey);
  }
}

.user-profile__level {
  order: -1;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    position: absolute;
    top: -169px;
    right: 390px;
  }
}

.user-profile__image {
  border-radius: 50%;
  margin-right: 17px;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 10px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
    position: absolute;
    top: -210px;
    right: 155px;
    border-radius: 0;
  }
}

.user-profile__button {
  width: 100%;
  margin-top: 16px;
  background-color: $pale-grey-two;

  @media (min-width: $tablet-width) {
    letter-spacing: 1.4px;
    font-size: 20px;
    margin-top: 49px;
    border-radius: 10px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 47px;
    position: absolute;
    top: -69px;
    right: 155px;
    border-radius: 0 0 10px 10px;
  }
}

.user-profile__button:hover {
  background-color: $light-blue-grey;
}

.user-profile__button:active {
  color: $dark-slate-blue-30;
}

.user-profile__text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-profile__tags {
  width: 100%;
  position: relative;
  margin-top: 32px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 64px;
    width: 730px;
    height: 85px;
  }
}

.user-profile__textarea-tags {
  margin: 0;
  display: block;
  box-sizing: border-box;
  padding: 19px 22px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown-60;
  border: 1px solid $cloudy-blue;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 30px 36px 0;
  }
}

.user-profile__textarea-tags:hover {
  border-color: $cloudy-blue-two;
}

.user-profile__textarea-tags:focus {
  border-color: $dark-two;
  color: $greyish-brown;
}

.user-profile__transport {
  width: 100%;
  border: 1px solid $cloudy-blue;
  position: relative;
  border-radius: 10px;
  margin-top: 26px;
  padding: 11px 15px 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
    height: 94px;
    padding-top: 25px;
    order: 0;
  }
}


.user-profile__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 1.13;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-slate-blue;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    letter-spacing: 1.8px;
    font-size: 20px;
    top: auto;
    bottom: -25px;
  }
}

.user-profile__title--left {
  @media (min-width: $desktop-width) {
    left: 63px;
  }
}

.user-profile__title::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: $pale-grey;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.user-profile__textarea {
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;
  border: none;
  width: 100%;
  height: auto;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
