$white: #ffffff;
$black: #000000;
$dark-two: #161c35;
$dark-blue-grey: #192144;
$dark-blue-grey-four: #141b3b;
$dark-slate-blue: #1d2e5b;
$mango: #ff8d30;
$mango-two: #ffbd30;
$mango-three: #ffa530;
$light-gold: #ffd74b;
$light-gold-30: rgba(255, 215, 75, 0.3);
$pale-grey: #edeff6;
$macaroni-and-cheese: #f3c72b;
$pale-grey-four: #e2e5f2;
$pale-grey-five: #f3f4f8;
$pale-grey-two: #dfe3f0;
$pale-grey-three: #e2e5f1;
$button-gray-color: #d6daed;
$page-text-dark: #444444;
$dark-blue-grey-30: rgba(25, 33, 68, 0.3);
$dark-blue-grey-60: rgba(25, 33, 68, 0.6);
$dark-blue-grey-90: #192142;
$dark-black-30: rgba(0, 0, 0, 0.3);
$cloudy-blue: #cbced9;
$white-30: rgba(255, 255, 255, 0.3);
$bluey-grey: #959bb2;
$very-light-pink-two: #f9eaea;
$light-blue-grey: #d1d7e9;
$light-blue-grey-five: #d4d9eb;
$dark-slate-blue-30: rgba(29, 46, 91, 0.3);
$dark-slate-blue-10: rgba(29, 46, 91, 0.1);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$greyish-brown-60: rgba(68, 68, 68, 0.6);
$greyish-brown: #444444;
$dark-blue-grey-two: #121936;
$salmon: #f97676;
$green-apple: #81e31e;
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-60: rgba(0, 0, 0, 0.6);
$steel-grey: #808285;
$orange-red: #ff5c23;
$grey-darken: rgba(0, 0, 0, 0.06);
$light-navy: #132576;
$pinkish-grey: #cccccc;
$dusty-orange: #f26926;
$cloudy-blue-two: #aeb4cb;
$black-08: rgba(0, 0, 0, 0.08);
$blue-grey: #959bb2;
$dark-blue-grey-three: #101d41;
$blue-grey-white: #e0e4f0;
$light-blue-gery-four: #c8cee8;
$light-tan: #f9d8d8;
$steel-gray: #808285;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobilePadding: 25px;
$tabletPadding: 40px;
$desktopPadding: 60px;

$mobileExtraPadding: 50px;
$tabletExtraPadding: 75px;
$desktopExtraPadding: 130px;

$extraPadding: 25px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

@mixin container() {
  width: 100%;
  margin: 0 auto;
  max-width: $desktop-width;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;

  @media (min-width: $tablet-width) {
    padding-left: $tabletPadding;
    padding-right: $tabletPadding;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktopPadding;
    padding-right: $desktopPadding;
  }
}

@mixin extra-container() {
  @include container();
  padding-left: $mobileExtraPadding;
  padding-right: $mobileExtraPadding;

  @media (min-width: $tablet-width) {
    padding-left: $tabletExtraPadding;
    padding-right: $tabletExtraPadding;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktopExtraPadding;
    padding-right: $desktopExtraPadding;
  }
}

@mixin promoListAfter($color) {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -10px;
  left: 0;
  background-color: $color;
}

@mixin promoListRightRadiusAfter($color, $width: 10px) {
  content: "";
  position: absolute;
  width: $width;
  height: 100%;
  top: 0;
  right: -$width;
  bottom: auto;
  left: auto;
  background-color: $color;
}

@mixin borderBottomRadius($size) {
  border-radius: 0 0 $size $size;
}

@mixin borderRadiusTopBg($size, $color) {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: $size;
  top: -$size;
  left: 0;
  background-color: $color;
}

@mixin borderRadiusBottomBg($size, $color) {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: $size;
  bottom: -$size;
  left: 0;
  background-color: $color;
}
