$white: #ffffff;
$dark-two: #161c35;
$dark-blue-grey: #192144;
$dark-slate-blue: #1d2e5b;
$mango: #ff8d30;
$mango-two: #ffbd30;
$mango-three: #ffa530;
$light-gold: #ffd74b;
$pale-grey: #edeff6;
$pale-grey-four: #e2e5f2;
$pale-grey-two: #dfe3f0;
$button-gray-color: #d6daed;
$page-text-dark: #444444;
$dark-blue-grey-30: rgba(25, 33, 68, 0.3);
$dark-black-30: rgba(0, 0, 0, 0.3);
$cloudy-blue: #cbced9;
$bluey-grey: #959bb2;
$very-light-pink-two: #f9eaea;
$light-blue-grey-five: #d4d9eb;
$dark-slate-blue-30: rgba(29, 46, 91, 0.3);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$greyish-brown: #444444;
$dark-blue-grey-two: #121936;

$mobilePadding: 25px;
$tabletPadding: 30px;
$desktopPadding: 45px;

@mixin container() {
  margin: 0 auto;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
}

@mixin promoListAfter($color) {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -10px;
  left: 0;
  background-color: $color;
}

@mixin borderBottomRadius($size) {
  border-radius: 0 0 $size $size;
}

@mixin borderRadiusTopBg($size, $color) {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: $size;
  top: -$size;
  left: 0;
  background-color: $color;
}
